<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="result.css" />

<body>
    <div class="show">
        <h1>Welcome <%=Name%></h1>
        <h2>Weather condition : <%=Cond%></h2>
        <h2>Weather Description : <%=Desc%></h2>
        <h2>Avarage Temprature : <%=Temp%></h2>
        <h2>Feels Like : <%=Feels%></h2>
        <h2>Maximum Temprature : <%=Max%></h2>   
        <h2>Minimum Temprarure: <%=Min%></h2>
        <h2>Visibility : <%=Visibility%></h2>
        <h2>Humidity : <%=Humidity%></h2>
        <h2>Suggestion : <%=Sugst%></h2>
    </div>
</body>
</html>